# Introductory Notebook 2: Mixed-Datatype Problems, Multi-Objective and Mixed-Objective Problems
This notebook will cover mixed datatypes and generating counterfactuals with multiple mixed objectives types.

In [1]:
import sys
sys.path.append('../src/')
import decode_mcd
from decode_mcd import mcd_problem
from decode_mcd import mcd_dataset


from decode_mcd import design_targets
from decode_mcd import mcd_generator

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

### Creating a Dataset

First, lets create a dataset inspired by some basic arithmetic. This time, we will create a dataset with four variables of different types. `A` will be a random integer from 0 to 10 inclusive. `B` will be a random float from -1 to 1. `C` will be a random choice among "Add" "Subtract", "Multiply", and "Divide". Finally, `D` will be a boolean variable determining the sign of the expression. True will correspond to positive while False will mean negative. To effectively handle mixed datatypes will will use pandas.

In [2]:
num_data = 1000
A = np.random.randint(0, 10, num_data)
B = np.random.rand(num_data) * 2 - 1 #Randomized values which originally range from 0 to 1. Scales to -1 to 1.
C = np.random.choice(["Add", "Subtract", "Multiply", "Divide"], num_data)
D = np.random.choice([True, False], num_data)
x = pd.DataFrame({"A": A, "B": B, "C": C, "D": D})
display(x)

     A         B         C      D
0    1 -0.813443    Divide   True
1    7  0.221669  Subtract   True
2    5 -0.423852    Divide   True
3    7 -0.778533       Add  False
4    2 -0.258988    Divide   True
..  ..       ...       ...    ...
995  1 -0.119309  Multiply  False
996  3 -0.264746  Multiply  False
997  3 -0.842574    Divide   True
998  7 -0.636760       Add  False
999  4 -0.304858  Subtract  False

[1000 rows x 4 columns]

We will create two functions. In the first one we will perform operation C(D(A), B). The second will perform D(C(B, A))>=0. For example, if C is add and D is False, function 1 will calculate -A+B while function 2 will check if -(B+A) is greater than 0 or not. We code up the `evaluate` function which takes in a dataframe with a set of `A`, `B`, `C`, and `D` values and returns a set of `O1` and `O2` values, which is what we call our function

In [3]:
def apply_operation(C, x, y):
    #Vectorized function to calculate C(x, y), for example if C is "Subtract", calculates x-y.
    add_mask = (C == "Add")
    subtract_mask = (C == "Subtract")
    multiply_mask = (C == "Multiply")
    divide_mask = (C == "Divide")
    result = np.zeros(len(C))
    result[add_mask] = x[add_mask] + y[add_mask]
    result[subtract_mask] = x[subtract_mask] - y[subtract_mask]
    result[multiply_mask] = x[multiply_mask] * y[multiply_mask]
    result[divide_mask] = x[divide_mask] / y[divide_mask]
    return result

def apply_inverse(D, x):
    #Vectorized function to calculate D(x), for example if D is False, returns -x. 
    return x*D-x*~D

def evaluate(x):
    #Evaluation function to calculate both objectives. x is an nx4 dataframe. 
    A = x["A"] #First isolate the individual variables from the provided dataframe
    B = x["B"]
    C = x["C"]
    D = x["D"].astype(bool)
    objective_1 = apply_operation(C, apply_inverse(D, A), B) #Calculate objective 1
    objective_2 = np.greater(apply_inverse(D, apply_operation(C, B, A)), 0) #Calculate objective 2
    return pd.DataFrame({"O1": objective_1, "O2": objective_2}) #Create a nx2 dataframe with the objective values

Let's evaluate our dataset.

In [4]:
y = evaluate(x)
display(y)

            O1     O2
0    -1.229343  False
1     6.778331  False
2   -11.796575  False
3    -7.778533  False
4    -7.722361  False
..         ...    ...
995   0.119309   True
996   0.794238   True
997  -3.560519  False
998  -7.636760  False
999  -3.695142   True

[1000 rows x 2 columns]

Finally, we create our query.

In [5]:
x_query = pd.DataFrame({"A": [0], "B": [0.0], "C": ["Add"], "D": [True]}, index = ["Query"])
display(x_query)

       A    B    C     D
Query  0  0.0  Add  True

### Setting up MCD

Now we are ready to set up the DataPackage. We specify the datatypes of our dataset. This time we have one of each type of variable. We specify the boundaries and options as specified earlier in the notebook.

In [6]:
from pymoo.core.variable import Real, Integer, Choice, Binary 
datatypes=[Integer(bounds=(0, 10)), 
           Real(bounds=(-1, 1)), 
           Choice(options=["Add", "Subtract", "Multiply", "Divide"]), 
           Binary()]

Finally, we create the `DataPackage`.

In [7]:
data = mcd_dataset.McdDataset(x=x, y=y, x_datatypes=datatypes)

Next, we create the design targets and the `MultiObjectiveProblem`. In this case, we create two design targets. We have one continuous target and one categorical target. Continuous targets should be used for any objective with ordinal significance (such as floats or ints), while categorical targets should be used for those without (such as classes or bools). We want set a hard lower bound of 10 for O1 with no upper bound, meaning C(D(A), B)>=10. We also set a requirement that O2 must be true, meaning that D(C(B, A))>=0

In [8]:
#We first set up a ContinuousTarget for O1, setting a minimum of 10 and setting no upper bound (i.e. infinity))
target_1 = design_targets.ContinuousTarget(label = "O1", lower_bound=10, upper_bound=np.inf)

#We then set up a CategoricalTarget for O2 specifying only True as the desired class. 
#Desired_classes is a list. In problems with multiple classes, this list specifies the acceptable classes.
target_2 = design_targets.CategoricalTarget(label = "O2", desired_classes=[True])

#We then create a DesignTargets object with the two targets.
y_targets = design_targets.DesignTargets(continuous_targets=[target_1], categorical_targets=[target_2])

In [9]:
problem = mcd_problem.McdProblem(mcd_dataset=data, x_query = x_query, y_targets = y_targets, prediction_function=evaluate)

Finally, we create the `CounterfactualsGenerator`:

In [10]:
generator = mcd_generator.McdGenerator(problem=problem, pop_size=100, initialize_from_dataset=True)

### Generating Counterfactuals
Finally, we run the generator and sample.

In [11]:
generator.generate(n_generations=10)

1000 dataset entries found matching problem parameters
Initial population initialized from dataset of 1000 samples!
Training GA from 0 to 10 generations!
==========================================================================================
n_gen  |  n_eval  | n_nds  |     cv_min    |     cv_avg    |      eps      |   indicator
==========================================================================================
     1 |        0 |      4 |  0.000000E+00 |  1.352993E+01 |             - |             -
     2 |      100 |      4 |  0.000000E+00 |  0.5510162856 |  0.000000E+00 |             f

/home/yazan/repositories/Multiobjective-Counterfactuals-for-Design/venv/lib/python3.9/site-packages/decode_mcd/mcd_problem.py:301: RuntimeWarning: invalid value encountered in subtract
  satisfaction = np.maximum(actual - query_ub, query_lb - actual)
/home/yazan/repositories/Multiobjective-Counterfactuals-for-Design/venv/lib/python3.9/site-packages/decode_mcd/mcd_problem.py:301: RuntimeWarning: invalid value encountered in subtract
  satisfaction = np.maximum(actual - query_ub, query_lb - actual)
/home/yazan/repositories/Multiobjective-Counterfactuals-for-Design/venv/lib/python3.9/site-packages/decode_mcd/mcd_problem.py:301: RuntimeWarning: invalid value encountered in subtract
  satisfaction = np.maximum(actual - query_ub, query_lb - actual)

     3 |      200 |      4 |  0.000000E+00 |  0.3065481014 |  0.000000E+00 |             f
     4 |      300 |      5 |  0.000000E+00 |  0.1899827167 |  1.0000000000 |         ideal

/home/yazan/repositories/Multiobjective-Counterfactuals-for-Design/venv/lib/python3.9/site-packages/decode_mcd/mcd_problem.py:301: RuntimeWarning: invalid value encountered in subtract
  satisfaction = np.maximum(actual - query_ub, query_lb - actual)
/home/yazan/repositories/Multiobjective-Counterfactuals-for-Design/venv/lib/python3.9/site-packages/decode_mcd/mcd_problem.py:301: RuntimeWarning: invalid value encountered in subtract
  satisfaction = np.maximum(actual - query_ub, query_lb - actual)

     5 |      400 |      6 |  0.000000E+00 |  0.0966050089 |  0.0918360416 |             f
     6 |      500 |      6 |  0.000000E+00 |  0.0095753433 |  0.000000E+00 |             f
     7 |      600 |      7 |  0.000000E+00 |  0.000000E+00 |  0.0262160448 |             f
     8 |      700 |      8 |  0.000000E+00 |  0.000000E+00 |  0.0034779359 |             f
     9 |      800 |      8 |  0.000000E+00 |  0.000000E+00 |  0.000000E+00 |             f
    10 |      900 |      8 |  0.000000E+00 |  0.000000E+00 |  0.000000E+00 |             f

/home/yazan/repositories/Multiobjective-Counterfactuals-for-Design/venv/lib/python3.9/site-packages/decode_mcd/mcd_problem.py:301: RuntimeWarning: invalid value encountered in subtract
  satisfaction = np.maximum(actual - query_ub, query_lb - actual)
/home/yazan/repositories/Multiobjective-Counterfactuals-for-Design/venv/lib/python3.9/site-packages/decode_mcd/mcd_problem.py:301: RuntimeWarning: invalid value encountered in subtract
  satisfaction = np.maximum(actual - query_ub, query_lb - actual)
/home/yazan/repositories/Multiobjective-Counterfactuals-for-Design/venv/lib/python3.9/site-packages/decode_mcd/mcd_problem.py:301: RuntimeWarning: invalid value encountered in subtract
  satisfaction = np.maximum(actual - query_ub, query_lb - actual)

In [12]:
num_samples = 10 
counterfactuals = generator.sample(num_samples, include_dataset=False)
display(counterfactuals)

Collecting all counterfactual candidates!
Scoring all counterfactual candidates!
Calculating diversity matrix!
Sampling diverse set of counterfactual candidates!
samples_index=[np.int64(5), np.int64(70), np.int64(154), np.int64(74), np.int64(147), np.int64(17), np.int64(114), np.int64(45), np.int64(146), np.int64(41)]
Done! Returning CFs

    A         B       C     D
0   1  0.057024  Divide  True
1  10  0.000000     Add  True
2  10  0.291371     Add  True
3  10  0.140063     Add  True
4   5  0.015301  Divide  True
5   2  0.187601  Divide  True
6  10  0.017069     Add  True
7   3  0.013337  Divide  True
8   4  0.360310  Divide  True
9   8  0.195969  Divide  True

Let's evaluate the counterfactuals we generated, we should see that every O1 value is greater or equal to 10, while every O2 value is true.

In [13]:
evaluate(counterfactuals)

           O1    O2
0   17.536327  True
1   10.000000  True
2   10.291371  True
3   10.140063  True
4  326.780318  True
5   10.660896  True
6   10.017069  True
7  224.944367  True
8   11.101540  True
9   40.822701  True

### Adding Optimization Objectives to the Mix
Now let's try converting one of our two constraints into an objective. We will make our `ContinuousTarget` into a `MinimizationTarget`.  In this case, we do not specify bounds, but if we wanted to further contstraint the objective to minimize, this could be done with a `ContinuousTarget` and a `MinimizationTarget`.

In [14]:
target_1 = design_targets.MinimizationTarget(label = "O1")
y_targets = design_targets.DesignTargets(minimization_targets=[target_1], categorical_targets=[target_2])
problem = mcd_problem.McdProblem(mcd_dataset=data, x_query = x_query, y_targets = y_targets, prediction_function=evaluate)

In [15]:
generator = mcd_generator.McdGenerator(problem=problem, pop_size=100, initialize_from_dataset=True)
generator.generate(n_generations=10)
counterfactuals = generator.sample(num_samples, include_dataset=False)

1000 dataset entries found matching problem parameters
Initial population initialized from dataset of 1000 samples!
Training GA from 0 to 10 generations!
==========================================================================================
n_gen  |  n_eval  | n_nds  |     cv_min    |     cv_avg    |      eps      |   indicator
==========================================================================================
     1 |        0 |     76 |  0.000000E+00 |  0.5094905095 |             - |             -
     2 |      100 |     78 |  0.000000E+00 |  0.000000E+00 |  0.0008955904 |             f
     3 |      200 |     90 |  0.000000E+00 |  0.000000E+00 |  0.0067547979 |             f
     4 |      300 |    100 |  0.000000E+00 |  0.000000E+00 |  0.0053452192 |         ideal
     5 |      400 |    100 |  0.000000E+00 |  0.000000E+00 |  0.0007545384 |             f
     6 |      500 |    100 |  0.000000E+00 |  0.000000E+00 |  0.0062512506 |         ideal
     7 |      600 |    100 |  0.000000E+00 |  0.000000E+00 |  0.0024572705 |             f
     8 |      700 |    100 |  0.000000E+00 |  0.000000E+00 |  0.0061652282 |             f
     9 |      800 |    100 |  0.000000E+00 |  0.000000E+00 |  0.0024916612 |             f
    10 |      900 |    100 |  0.000000E+00 |  0.000000E+00 |  0.0114671235 |         ideal
Collecting all counterfactual candidates!
Scoring all counterfactual candidates!
Calculating diversity matrix!
Sampling diverse set of counterfactual candidates!
samples_index=[np.int64(286), np.int64(476), np.int64(299), np.int64(708), np.int64(222), np.int64(535), np.int64(402), np.int64(592), np.int64(318), np.int64(624)]
Done! Returning CFs

We can see that in this case, the generated counterfactuals have much smaller O1 values.

In [16]:
evaluate(counterfactuals)

         O1    O2
0 -8.026160  True
1  0.992633  True
2  0.061333  True
3  5.180932  True
4 -3.999679  True
5  6.046679  True
6  3.159426  True
7 -0.031941  True
8  5.028652  True
9 -0.676274  True