# Introductory Notebook 2: Mixed-Datatype Problems, Multi-Objective and Mixed-Objective Problems
This notebook will cover mixed datatypes and generating counterfactuals with multiple mixed objectives types.

In [1]:
import sys
sys.path.append('../src/')
import decode_mcd
from decode_mcd import mcd_problem
from decode_mcd import mcd_dataset


from decode_mcd import design_targets
from decode_mcd import mcd_generator

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

### Creating a Dataset

First, lets create a dataset inspired by some basic arithmetic. This time, we will create a dataset with four variables of different types. `A` will be a random integer from 0 to 10 inclusive. `B` will be a random float from -1 to 1. `C` will be a random choice among "Add" "Subtract", "Multiply", and "Divide". Finally, `D` will be a boolean variable determining the sign of the expression. True will correspond to positive while False will mean negative. To effectively handle mixed datatypes will will use pandas.

In [2]:
num_data = 1000
A = np.random.randint(0, 10, num_data)
B = np.random.rand(num_data) * 2 - 1 #Randomized values which originally range from 0 to 1. Scales to -1 to 1.
C = np.random.choice(["Add", "Subtract", "Multiply", "Divide"], num_data)
D = np.random.choice([True, False], num_data)
x = pd.DataFrame({"A": A, "B": B, "C": C, "D": D})
display(x)

     A         B         C      D
0    4  0.370202       Add  False
1    9 -0.384935  Subtract  False
2    9  0.192563  Multiply  False
3    0 -0.543762  Multiply   True
4    0  0.207655    Divide  False
..  ..       ...       ...    ...
995  4 -0.180612    Divide   True
996  5  0.875015  Subtract   True
997  9 -0.930721       Add  False
998  7 -0.948650    Divide  False
999  1 -0.782290       Add  False

[1000 rows x 4 columns]

We will create two functions. In the first one we will perform operation C(D(A), B). The second will perform D(C(B, A))>=0. For example, if C is add and D is False, function 1 will calculate -A+B while function 2 will check if -(B+A) is greater than 0 or not. We code up the `evaluate` function which takes in a dataframe with a set of `A`, `B`, `C`, and `D` values and returns a set of `O1` and `O2` values, which is what we call our function

In [3]:
def apply_operation(C, x, y):
    #Vectorized function to calculate C(x, y), for example if C is "Subtract", calculates x-y.
    add_mask = (C == "Add")
    subtract_mask = (C == "Subtract")
    multiply_mask = (C == "Multiply")
    divide_mask = (C == "Divide")
    result = np.zeros(len(C))
    result[add_mask] = x[add_mask] + y[add_mask]
    result[subtract_mask] = x[subtract_mask] - y[subtract_mask]
    result[multiply_mask] = x[multiply_mask] * y[multiply_mask]
    result[divide_mask] = x[divide_mask] / y[divide_mask]
    return result

def apply_inverse(D, x):
    #Vectorized function to calculate D(x), for example if D is False, returns -x. 
    return x*D-x*~D

def evaluate(x):
    #Evaluation function to calculate both objectives. x is an nx4 dataframe. 
    A = x["A"] #First isolate the individual variables from the provided dataframe
    B = x["B"]
    C = x["C"]
    D = x["D"].astype(bool)
    objective_1 = apply_operation(C, apply_inverse(D, A), B) #Calculate objective 1
    objective_2 = np.greater(apply_inverse(D, apply_operation(C, B, A)), 0) #Calculate objective 2
    return pd.DataFrame({"O1": objective_1, "O2": objective_2}) #Create a nx2 dataframe with the objective values

Let's evaluate our dataset.

In [4]:
y = evaluate(x)
display(y)

            O1     O2
0    -3.629798  False
1    -8.615065   True
2    -1.733071  False
3    -0.000000  False
4     0.000000  False
..         ...    ...
995 -22.146936  False
996   4.124985  False
997  -9.930721  False
998   7.378910   True
999  -1.782290  False

[1000 rows x 2 columns]

Finally, we create our query.

In [5]:
x_query = pd.DataFrame({"A": [0], "B": [0.0], "C": ["Add"], "D": [True]}, index = ["Query"])
display(x_query)

       A    B    C     D
Query  0  0.0  Add  True

### Setting up MCD

Now we are ready to set up the `McdDataset`. We specify the datatypes of our dataset. This time we have one of each type of variable. We specify the boundaries and options as specified earlier in the notebook.

In [6]:
from pymoo.core.variable import Real, Integer, Choice, Binary 
datatypes=[Integer(bounds=(0, 10)), 
           Real(bounds=(-1, 1)), 
           Choice(options=["Add", "Subtract", "Multiply", "Divide"]), 
           Binary()]

data = mcd_dataset.McdDataset(x=x, y=y, x_datatypes=datatypes)

Next, we create the design targets and the `McdProblem`. In this case, we create two design targets. We have one continuous target and one categorical target. Continuous targets should be used for any objective with ordinal significance (such as floats or ints), while categorical targets should be used for those without (such as classes or bools). We want set a hard lower bound of 10 for O1 with no upper bound, meaning C(D(A), B)>=10. We also set a requirement that O2 must be true, meaning that D(C(B, A))>=0

In [7]:
#We first set up a ContinuousTarget for O1, setting a minimum of 10 and setting no upper bound (i.e. infinity))
target_1 = design_targets.ContinuousTarget(label = "O1", lower_bound=10, upper_bound=np.inf)

#We then set up a CategoricalTarget for O2 specifying only True as the desired class. 
#Desired_classes is a list. In problems with multiple classes, this list specifies the acceptable classes.
target_2 = design_targets.CategoricalTarget(label = "O2", desired_classes=[True])

#We then create a DesignTargets object with the two targets.
y_targets = design_targets.DesignTargets(continuous_targets=[target_1], categorical_targets=[target_2])

In [8]:
problem = mcd_problem.McdProblem(mcd_dataset=data, x_query = x_query, y_targets = y_targets, prediction_function=evaluate)

Finally, we create the `McdGenerator`:

In [9]:
generator = mcd_generator.McdGenerator(mcd_problem=problem, pop_size=100, initialize_from_dataset=True)

### Generating Counterfactuals
Finally, we run the generator and sample.

In [10]:
generator.generate(n_generations=10)

1000 dataset entries found matching problem parameters
Initial population initialized from dataset of 1000 samples!
Training GA from 0 to 10 generations!
==========================================================================================
n_gen  |  n_eval  | n_nds  |     cv_min    |     cv_avg    |      eps      |   indicator
==========================================================================================
     1 |        0 |      5 |  0.000000E+00 |  1.159255E+01 |             - |             -
     2 |      100 |      5 |  0.000000E+00 |  0.3790634477 |  0.000000E+00 |             f
     3 |      200 |      5 |  0.000000E+00 |  0.2425019543 |  0.000000E+00 |             f

c:\Users\Lyler\Documents\Multiobjective-Counterfactuals-for-Design\Getting Started\../src\decode_mcd\mcd_problem.py:303: RuntimeWarning: invalid value encountered in subtract
  satisfaction = np.maximum(actual - query_ub, query_lb - actual)
c:\Users\Lyler\Documents\Multiobjective-Counterfactuals-for-Design\Getting Started\../src\decode_mcd\mcd_problem.py:303: RuntimeWarning: invalid value encountered in subtract
  satisfaction = np.maximum(actual - query_ub, query_lb - actual)
c:\Users\Lyler\Documents\Multiobjective-Counterfactuals-for-Design\Getting Started\../src\decode_mcd\mcd_problem.py:303: RuntimeWarning: invalid value encountered in subtract
  satisfaction = np.maximum(actual - query_ub, query_lb - actual)

     4 |      300 |      5 |  0.000000E+00 |  0.1492279795 |  0.000000E+00 |             f
     5 |      400 |      5 |  0.000000E+00 |  0.0112239215 |  0.000000E+00 |             f
     6 |      500 |      6 |  0.000000E+00 |  0.000000E+00 |  0.6666666667 |         ideal
     7 |      600 |      6 |  0.000000E+00 |  0.000000E+00 |  0.000000E+00 |             f
     8 |      700 |      7 |  0.000000E+00 |  0.000000E+00 |  0.0023059630 |             f
     9 |      800 |      8 |  0.000000E+00 |  0.000000E+00 |  0.0029899202 |             f
    10 |      900 |      8 |  0.000000E+00 |  0.000000E+00 |  0.0000514590 |             f

c:\Users\Lyler\Documents\Multiobjective-Counterfactuals-for-Design\Getting Started\../src\decode_mcd\mcd_problem.py:303: RuntimeWarning: invalid value encountered in subtract
  satisfaction = np.maximum(actual - query_ub, query_lb - actual)
c:\Users\Lyler\Documents\Multiobjective-Counterfactuals-for-Design\Getting Started\../src\decode_mcd\mcd_problem.py:303: RuntimeWarning: invalid value encountered in subtract
  satisfaction = np.maximum(actual - query_ub, query_lb - actual)

In [11]:
num_samples = 10 
counterfactuals = generator.sample(num_samples, include_dataset=False)
display(counterfactuals)

Collecting all counterfactual candidates!
Scoring all counterfactual candidates!
Calculating diversity matrix!
Sampling diverse set of counterfactual candidates!
Done! Returning CFs

    A         B       C      D
0  10  0.000000     Add   True
1   1  0.029980  Divide   True
2   7  0.006629  Divide   True
3   2  0.167406  Divide   True
4   3  0.039375  Divide   True
5   4  0.359941  Divide   True
6   5  0.137856  Divide   True
7   4  0.025800  Divide   True
8   2 -0.003123  Divide  False
9   2  0.042675  Divide   True

Let's evaluate the counterfactuals we generated, we should see that every O1 value is greater or equal to 10, while every O2 value is true.

In [12]:
evaluate(counterfactuals)

            O1    O2
0    10.000000  True
1    33.356094  True
2  1055.915025  True
3    11.947035  True
4    76.190239  True
5    11.112929  True
6    36.269700  True
7   155.037305  True
8   640.372018  True
9    46.865595  True

### Contraining input features
MCD provides a convenient interface for freezing input features that should not be changed. These can be specified when constructing the `McdProblem` through the parameter `features_to_freeze`. Let's say we want to ensure that our generate counterfactuals don't change the operation used in the query, which was addition. We can specify that as below.

In [13]:
import importlib
importlib.reload(mcd_problem)
x_query = pd.DataFrame({"A": [-1], "B": [0.0], "C": ["Add"],  "D": [True]}, index = ["Query"])
to_freeze = ["C"]
problem = mcd_problem.McdProblem(mcd_dataset=data, x_query = x_query, y_targets = y_targets, features_to_freeze=to_freeze, prediction_function=evaluate)

Warning: [query_x] parameters fall outside of range specified by datatypes

In [14]:
import importlib
importlib.reload(mcd_generator)
generator = mcd_generator.McdGenerator(mcd_problem=problem, pop_size=100, initialize_from_dataset=True)
generator.generate(n_generations=10)
counterfactuals = generator.sample(num_samples, include_dataset=False)

277 dataset entries found matching problem parameters
Initial population initialized from dataset of 277 samples!
Training GA from 0 to 10 generations!
==========================================================================================
n_gen  |  n_eval  | n_nds  |     cv_min    |     cv_avg    |      eps      |   indicator
==========================================================================================
     1 |        0 |      1 |  0.0956703131 |  1.032641E+01 |             - |             -
     2 |      100 |      1 |  0.0956703131 |  2.6965020548 |             - |             -
     3 |      200 |      1 |  0.0373425823 |  1.8395548936 |             - |             -
     4 |      300 |      1 |  0.000000E+00 |  1.3006348433 |             - |             -

c:\Users\Lyler\mambaforge\envs\general\Lib\site-packages\pymoo\operators\crossover\sbx.py:47: RuntimeWarning: invalid value encountered in power
  betaq[mask] = np.power((rand * alpha), (1.0 / (eta + 1.0)))[mask]

     5 |      400 |      1 |  0.000000E+00 |  0.9967805876 |  0.000000E+00 |             f
     6 |      500 |      1 |  0.000000E+00 |  0.6418297531 |  0.000000E+00 |             f
     7 |      600 |      1 |  0.000000E+00 |  0.3904809709 |  0.000000E+00 |             f
     8 |      700 |      1 |  0.000000E+00 |  0.1511316640 |  0.000000E+00 |             f
     9 |      800 |      2 |  0.000000E+00 |  0.0481251747 |  1.0000000000 |         ideal
    10 |      900 |      3 |  0.000000E+00 |  0.0082501719 |  0.3546212892 |         ideal
Collecting all counterfactual candidates!
Scoring all counterfactual candidates!
Calculating diversity matrix!
Sampling diverse set of counterfactual candidates!
Done! Returning CFs

Now, we can see that our generated counterfactuals indeed all use the addition operator!

In [15]:
display(counterfactuals)

    A         B    C     D
0  10  0.000000  Add  True
1  10  0.207633  Add  True
2  10  0.083143  Add  True
3  10  0.006898  Add  True
4  10  0.119519  Add  True
5  10  0.516463  Add  True
6  10  0.162665  Add  True
7  10  0.263952  Add  True
8  10  0.093517  Add  True
9  10  0.107992  Add  True

### Adding Optimization Objectives to the Mix
Now let's try converting one of our two constraints into an objective. We will make our `ContinuousTarget` into a `MinimizationTarget`.  In this case, we do not specify bounds, but if we wanted to further contstraint the objective to minimize, this could be done with a `ContinuousTarget` and a `MinimizationTarget`.

In [16]:
target_1 = design_targets.MinimizationTarget(label = "O1")
y_targets = design_targets.DesignTargets(minimization_targets=[target_1], categorical_targets=[target_2])
problem = mcd_problem.McdProblem(mcd_dataset=data, x_query = x_query, y_targets = y_targets, prediction_function=evaluate)

Warning: [query_x] parameters fall outside of range specified by datatypes

In [17]:
generator = mcd_generator.McdGenerator(mcd_problem=problem, pop_size=100, initialize_from_dataset=True)
generator.generate(n_generations=10)
counterfactuals = generator.sample(num_samples, include_dataset=False)

1000 dataset entries found matching problem parameters
Initial population initialized from dataset of 1000 samples!
Training GA from 0 to 10 generations!
==========================================================================================
n_gen  |  n_eval  | n_nds  |     cv_min    |     cv_avg    |      eps      |   indicator
==========================================================================================
     1 |        0 |     68 |  0.000000E+00 |  0.4945054945 |             - |             -
     2 |      100 |     74 |  0.000000E+00 |  0.000000E+00 |  0.0684011743 |         nadir
     3 |      200 |     85 |  0.000000E+00 |  0.000000E+00 |  0.3333333333 |         ideal
     4 |      300 |     93 |  0.000000E+00 |  0.000000E+00 |  0.0055749740 |         nadir
     5 |      400 |    100 |  0.000000E+00 |  0.000000E+00 |  0.0077939696 |             f
     6 |      500 |    100 |  0.000000E+00 |  0.000000E+00 |  0.0655277882 |         ideal
     7 |      600 |    100 |  0.000000E+00 |  0.000000E+00 |  0.0583494606 |         nadir
     8 |      700 |    100 |  0.000000E+00 |  0.000000E+00 |  0.0052718961 |             f
     9 |      800 |    100 |  0.000000E+00 |  0.000000E+00 |  0.0016481789 |             f
    10 |      900 |    100 |  0.000000E+00 |  0.000000E+00 |  0.0041971850 |             f
Collecting all counterfactual candidates!
Scoring all counterfactual candidates!
Calculating diversity matrix!
Sampling diverse set of counterfactual candidates!
Done! Returning CFs

We can see that in this case, the generated counterfactuals have much smaller O1 values.

In [18]:
evaluate(counterfactuals)

          O1    O2
0 -10.942866  True
1   0.081661  True
2   4.047128  True
3   5.248099  True
4  -0.972699  True
5   0.212799  True
6  21.928676  True
7   0.933332  True
8  10.000000  True
9   8.811624  True

By the way, outputs can also be silenced by setting `verbose` to False when intializing the McdGenerator.

In [21]:
generator = mcd_generator.McdGenerator(mcd_problem=problem, pop_size=100, initialize_from_dataset=True, verbose=False)
generator.generate(n_generations=10)
counterfactuals = generator.sample(num_samples, include_dataset=False)

This concludes the second MCD tutorial notebook! The third will cover advanced selection options for counterfactuals.